@model BirthdayManagementSystem.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reserveUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reserveUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeUser.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeUser.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modif", "Edit", new { id = Model.IdUser }) |
    @Html.ActionLink("Retour", "Index")
</p>
